@charset "utf-8";

/***서브헤더(COMPANY or CUSTOMER CENTER) 부분 변경사항*****/

#subHeader.subHeaderCompany { 
    background: url(../images/subTitleCustomer.jpg) no-repeat center 40%/cover;
} 

#subHeader h2{ 
    color: #dd8724;
    padding: 30px 70px 0 0;
    text-align: right;
    font-size: 70px;
}

/********************서브메뉴 부분 수정사항******/
#snb h2{
    line-height: 28px;
    display: table-cell;
    vertical-align: middle;
}

/*****서브컨텐츠*****/

#subContent{
    float: right;
    margin-top: 10px;
}

/******************************************************************************************************테이블정의****/
#subContent_table{
    table-layout: fixed;      /*전체적인 테이블의 너비를 지정(텍스트의 길이에 따라 테이블 너비가 가변적임*/
    border-collapse: collapse;
    width: 660px;
    margin-top: 15px;
}

/**테이블 헤드부분***/
thead tr{
    background: linear-gradient(180deg , #9ac5e9 0%,#3B92EF 50%, #2870DC 100%);
}

/***tr에 border-radius 적용되지 않음! padding또한 적용X***/

thead tr th{
    padding: 5px 0;
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
}

th#num{
    /*width: 55px;*/
    border-top-left-radius:  6px;
    border-bottom-left-radius: 6px;
}
th#title{
    /*width: 370px;*/
    letter-spacing: 10px;
}

th#read{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

/**테이블 바디부분**/

tbody tr td{
    padding: 10px 0;
    border-bottom: 1px dotted #9A9A8E;
    font-size: 13px;
}
td[headers="writer"]{text-transform: capitalize;}

td[headers="title"]{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    padding-right: 20px;
}


td:not([headers="title"]){
    text-align: center;
}

/*th로 너비 조정,, td로 padding 적용*/



/******************************************************************************************검색창******/
#formWrap{
    overflow: hidden;  
    margin: 15px 0;
}

form{
    float: right;
    position: relative;
}
/*자식요소의 높이->부모요소높이 // float적용후, 자식요소의 너비가 부모요소의 너비*/
form input[type="text"]{
    width: 220px;height: 22px;
    box-sizing: border-box;
    margin-right: 100px;
    padding: 4px 5px;
    
    border: 1px solid #000;
    border-radius: 10px;
}

form input[type="text"]:focus{
    outline: none;
    border: 2px solid #000;
    background-color: #FEFDE9;
}


form input[type="submit"]{
    position: absolute;
    width: 90px;height: 22px; 
    cursor: pointer;
    top: 0; left: 225px;
    border: 1px solid #969B9E;
    border-radius: 10px;
    
    color: #fff;
    background: linear-gradient(180deg, #9ac5e9 0%,#3B92EF 50%, #2870DC 100% );

    box-shadow: 2px 2px 2px #000;
    transition-duration: .2s;
    
}

form input[type="submit"]:active{
    box-shadow: none;
    margin-left: 2px; margin-top: 2px;
}


/******************************************************페이지 (전,후) ****************/

#pages{
    clear: both;
    text-align: center;
    margin: 35px 0 60px 0;
    
}

#pages a{
    text-transform: capitalize;
    font-size: 11px;
    margin: 0 12px;
}
#pages a:hover{
    text-decoration: underline;
}