@charset "utf-8";


/******************************헤더 변경사항*/
#header{ height: 160px;}
#gnb { top: 93px;}
#header h1{ top: calc(50% - 5px);}
#footerWrap{margin-top: 40px;}

/*****************************서브헤더 부분*/
#container { margin-bottom: 30px;}

#subHeader {
    height: 300px;
}
#subHeader.subHeaderCompany { 
    background-color: rgb(117, 117, 117);
   
}
 
/*아이디가 클래스보다 우선순위*/
#subHeader h2{ 
    text-shadow: 5px 5px 10px #000;
    text-transform: uppercase;
    font-size: 80px;
}

/*****Welcome,Notice 웹폰트 적용********/
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');



/*************메인부분***********/
/*************서브메뉴부분***********/
#subWrap{
    width: 1000px;
    margin: 0 auto;
}

#subWrap::after{
    content: "";
    display: block;
    clear: both;
}

#snb{
    float: left;
}

#snb h2{
    width: 250px;height: 95px;
    background-color: #3C3C3C;

    color: white;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 23px;
    line-height: 95px;
    text-align: center;
    text-transform: uppercase;
}

#snb ul li a{
    display: block;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    padding-left: 20px;
    font-weight: 400;

}

#snb ul li a:hover{
    background-color: #ccccccd7;
}

#snb ul li a span{
    float: right;
    padding-right: 13px;
}

/**Welcom , Notice 부분 폰트 설정 ***/
#subContent h3{
    font-family: 'Kaisei Tokumin', serif;
    text-transform: capitalize;
    font-size: 36px;
    color: #D4CCC9;
}