@charset "utf-8";


/***초기화*****/
html{ height: 100%;}
body,h1,h2,h3,p,figure,figcaption,ul {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none; color: black;}
img {width: 300px;}
address {font-style: normal;}
small{font-size: 1em;}
.hidden {position: absolute; left: -9999px;}


/*웹폰트 적용*/
@font-face {
    font-family: 'sky';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twaysky.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sky2';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{font-family: 'sky2' ,sans-serif;}
h1,h3,h2{font-family: 'sky', sans-serif;}

body{
    width: 720px;
    margin: 0 auto;
    background-color: #b8dbf8;
}
#bodyWrap{
    background-color: #fff;
}




/****헤더****/

header {
    background: #fff url(../images/bg.png) no-repeat center/cover;
    height: 275px;
    overflow: hidden;

}
header hgroup{
    float: right;
    margin: 130px 60px 0 0;
    text-align: center;
}
header h1{ 
    color: white;
    text-shadow: 2px 3px 5px #000;
    margin-bottom: 40px;
}
header h3{
    color: white;
    text-shadow: 2px 3px 5px #000;
    font-size: 16px;
}



/****네비게이션***/

#gnb{
    


}

#gnb ul{
    overflow: hidden;
}

#gnb ul li{
   float: left;
   width: 25%; 
}

#gnb li a{
    display: block; /*넓이를 따로 지정안해줘도 됨*/
    background-color: #036;
    height: 60px; /*line-heignt도 높이값을 가지기에 생략가능*/
    line-height: 60px;
    text-align: center;

    color: #fff;
}

#gnb li a:hover{
    background: #fff; color: #000; 
}


/********메인*******/

main{

}

#content {
    padding: 15px 10px;
    color: #036;
}

#content h2 {
    margin: 15px 0;
}

#content p{
    margin-bottom: 15px;
}

#content article{
    width: 90%;
    margin: 0 auto;
}
#content article figure{

}

#content article figcaption{
    font-size: 14px;
    margin: 5px 0;
}

/******푸터********/

footer{
    background-color: #030;
    color: white;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
}

footer:hover{
    background-color: #036;
}

footer p{
    margin: 15px 0;
}

footer address{
    margin-bottom: 6px;
}

address + small {
    display: block;
    margin-bottom: 6px;
}