@charset "utf-8";



/*******메인.part***********/

/***섹션_슬로건.part*******/

#slogan{
    height: 363px;
    background: #fff url(../images/background.jpg) no-repeat center/cover fixed;
    position: relative;
    overflow: hidden;
}

#slogan::before{
    content: "";
    height: 363px;
    width: 100%;
    background-color: #000;
    opacity: 0.5;

    position: absolute; /*넓이와 높이를 가질 수 있게됨(display:block 설정필요X)*/
}
/**/
#slogan p{
    text-transform: uppercase;
    color: #fff;
    font-size: 67px; font-weight: 700;
    margin-top:50px;
    position: relative;
    text-align: center;
    text-shadow: 3px 3px 5px #000;
    letter-spacing: 4.5px;
    
}

#slogan a{
    color: #fff;
    display: block;
    width: 157px; height: 40px;
    background-color: #EF464C;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 40px;
    position: relative;       /*absolute와 다르게 넓이와 높이는 가짐X , 본인위치만가짐O*/
    left: calc(50% - 73.5px);
    top: 40px;
    
}


/****섹션_웹솔루션.part*****/
/* 내가한것
#webSolution_wrap{
    background:#EBEBEB;
    height: 307px;
}

#webSolution{
    width: 930px; height: 152px;
    background: #EBEBEB url(../images/bgSolution.png) no-repeat center center;
    position: relative;
    top: calc(50% - 76px); left: calc(50% - 465px);
}

.solution{
    float: left;
    position: relative;
    top: calc(50% - 80px); 
}

.solution a{
    display: block;
    width: 176px; height: 135px;
    font-size: 11px;
}

.solution a h4{
    margin-bottom: 7px;
}



#webSolution .hosting{
    margin-left: 90px;
}

#webSolution .security, .payment{
    margin-left: 137px;
}
*/


#webSolution_wrap{
    background:#EBEBEB;  
}

#webSolution{
    width: 930px; 
    margin: 0 auto;
    padding: 65px 30px 50px;
}

.solution{
    width: 310px;
    float: left;
}

#webSolution .hosting{
    background: url(../images/bgSolution.png) no-repeat left;
}
#webSolution .security{
    background: url(../images/bgSolution.png) no-repeat center;
}
#webSolution .payment{
    background: url(../images/bgSolution.png) no-repeat right;
}

#webSolution::after{
    content: "";
    clear: both;
    display: block;
}

.solution a{
    display: block;
    padding: 0 34px 0 100px;
    color: #333;
}

.solution a h4{
font-size: 16px;
margin-bottom: 10px;
}

.solution a p{
    line-height: 18px;
}



/****섹션_고객알림게시판.part******/

#newsBoard{
    width: 1000px;
    margin: 32px auto 0;
    overflow: hidden;
}

#news01{
    float: left;
    width: 420px;
    margin: 0 80px 0 40px;
}

h3{
    margin-bottom: 22px;    
    height: 23px;
    background: #fff url(../images/bgBoard.png) no-repeat center;

    padding:2px 0 0 25px;  /*text-indent: 25px*/
    box-sizing: border-box;

    font-size: 14px;
    font-style: italic;
}

#news01 h3 span{
    color: #F26555;
}

#news01 a {
    display: block;
}

#news01 a dt {
    font-family: "Times New Roman";
    font-size: 14px;
    color: red;
    font-weight: 700;
    margin: 5px 0;

}

#news01 a dd {
    font-size: 11px;
    line-height: 16px;
}



#news02{
    float: left;
    width: 420px;
}
#news02 h3{
    color: #827B01;
    margin: 0; 
}

#news02 ul{
    padding-top: 22px;
    font-size: 13px;
    height: 200px;
    box-sizing: border-box;
}

#news02 ul li{
    height: 26px;
    background: url(../images/bulletNotice.gif) no-repeat left center;
    line-height: 26px;
    padding-left: 15px;

    border-bottom: 1px dotted #999999;
}

#news02 ul li a{
    float: left; color: #333;
}

#news02 ul li a:hover{
    color: #c0b600;
}

#news02 ul li span{
    float: right;
}


