@charset "utf-8";

/***서브헤더 부분 변경사항*****/

#subHeader.subHeaderCompany { 
    background: url(../images/subTitleCompany.jpg) no-repeat center 90%/cover;
} 

#subHeader h2{ 
    color: #dd8724;
    padding: 30px 70px 0 0;
    text-align: right;
    text-transform: uppercase;
    font-size: 80px;
}


/*****welcome 웹폰트 적용********/
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');


/****************************************************/

#subContent{
    float: right;
    margin-top: 10px;
    width: 710px;
}

#subContent::after{
    content: "";
    display: block;
    clear: both;
}

.subContentCompany{
    padding: 0 45px 0 20px;
}   

#subContent figure{
    float: right;
}


#subContent figure img + figcaption{
    text-align: center; text-transform: capitalize;
    color: #5993D3;
    font-size: 13px; font-weight: normal;
   
}

#subContent p{
    margin-bottom: 15px;
    word-wrap: break-word;
}
