@charset "utf-8";

/****초기화.part*******/

html,body,h1,h2,h3,h4,p,ul,dl,dt,dd{
    margin: 0; padding: 0;
}
body{height: 100%;}

li{
    list-style: none;
}

a{
    color: black;
    text-decoration: none;
}
address{font-style: normal;}
hr{display: none;}
.hidden{position: absolute; left: -9999px}


/****웹폰트 적용.part*****/

@font-face {
    font-family: segoeui;
    src: url(../font/segoeui.eot),
        url(../font/segoeui.ttf),
        url(../font/segoeui.woff);
}

body{ font-family: 'segoeui';}



/******헤더.part*************/

#header{
    width: 1000px;
    height: 187px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

#header h1{
    position: absolute;
    top: calc(50% - 11px); left: 11px;
}

#header h1 a{
    display: block;
    width: 249px; height: 50px;
    background: #fff url(../images/logo.png) no-repeat center;

    line-height: 5000px;
    overflow: hidden;
}

#header #membership{
    position: absolute;
    top: 22px; right: 41px;
 
}

#header #membership ul{
    overflow: hidden;
}
#header #membership ul li{
    float: left;
}

#header #membership ul li a{
    
    text-transform: capitalize;
    font-size: 12px; font-weight: 700;
    padding: 0 10px;
}

#header #membership ul li:last-child a{
    border-left: 2px solid black;
}




#header #gnb{
    float: right;
    position: absolute;
    top: 50%; right: 11px;
}

#gnb ul{overflow: hidden;}
#gnb ul li{
    float: left;
    margin-left: 13px;
    
}

#gnb ul li a{
    display: block;
    height: 35px;
    padding: 0 10px;
    text-align: center;
    line-height: 34px;
    text-transform: uppercase;
    font-size: 14px; font-weight: 700;
}
#gnb ul li a:hover{
    border-bottom: 3px solid #02BFF3;
    box-sizing: border-box; 
}



/*******메인.part***********/

/***섹션_슬로건.part*******/

#slogan{
    height: 363px;
    background: #fff url(../images/background.jpg) no-repeat center/cover fixed;
    position: relative;
    overflow: hidden;
}

#slogan p{
    text-transform: uppercase;
    color: #fff;
    font-size: 67px; font-weight: 700;
    text-align: center;
    text-shadow: 3px 3px 5px #000;
    letter-spacing: 4.5px;
    margin-top:50px;
}

#slogan a{
    color: #fff;
    display: block;
    width: 157px; height: 40px;
    background-color: #EF464C;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 40px;
    position: relative;
    left: calc(50% - 73.5px);
    top: 40px;
    

}


/****섹션_웹솔루션.part*****/
#webSolution_wrap{
    background:#EBEBEB;
    height: 307px;
}
#webSolution{
    width: 930px; height: 152px;
    background: #EBEBEB url(../images/bgSolution.png) no-repeat center center;
    position: relative;
    top: calc(50% - 76px); left: calc(50% - 465px);
}


.solution{
    float: left;
    position: relative;
    top: calc(50% - 80px); 
}

.solution a{
    display: block;
    width: 176px; height: 135px;
    font-size: 11px;
}

.solution a h4{
    margin-bottom: 7px;
}



#webSolution .hosting{
    margin-left: 90px;
}

#webSolution .security{
    margin-left: 137px;
}
#webSolution .payment{
    margin-left: 137px;
}


/****섹션_고객알림게시판.part******/

#newsBoard{
    height: 266px;
    width: 1000px;
    margin: 0 auto;
}

#news01{
    float: left;
    width: 420px;
    margin-right:80px;
}

h3{
    margin-bottom: 20px;    
    height: 21px;
    background: #fff url(../images/bgBoard.png) no-repeat center;

    padding:2px 0 0 25px;
    box-sizing: border-box;

    font-size: 14px;
    font-style: italic;
}
#news01 h3 span{
    color: #F26555;
}

#news01 a {
    display: block;
}


#news01 a dt {
    font-size: 14px;
    color: red;
    font-weight: 700;
    margin: 3px 0;

}

#news01 a dd {
    font-size: 11px;
}



#news02{
    float: left;
    width: 420px;
}
#news02 h3{
    color: #827B01;
}

#news02 ul{
    font-size: 13px;
}

#news02 ul li{
    height: 27px;
    background: #fff url(../images/bulletNotice.gif) no-repeat left center;
    line-height: 27px;
    padding-left: 15px;

    border-bottom: 1px dotted #999999;
}

#news02 ul li a{
    float: left;
}

#news02 ul li span{
    float: right;
}

#news01_02{
    overflow: hidden;
    position: relative;
    top: calc(50% - 90.5px);
}


/*******푸터.part********/

footer{
    width: 1000px;
    margin: 0 auto;
    padding: 24px 0;
    overflow: hidden;
}

footer > a{
    display: block;
    width: 130px; height: 30px;
    background: #fff url(../images/logoFooter.png) no-repeat center/contain;
    float: left;

    line-height: 5555px;
    overflow: hidden;
}

footer .info{
    float: left;
    font-size: 11px;
    margin:0 18px;
}

footer .sns{
    float: right;
    overflow: hidden;
    width: 83px; height: 33px;
    background: #fff url(../images/bgSns.png) no-repeat center/cover;
}

footer .sns li:first-child{
    float: left;
}

footer .sns li:last-child{
    float: right;
}

footer .sns li a{
    display: block;
    width: 32px;height: 32px;

    line-height: 100000px;
    overflow: hidden;

}